@platform/67:registry=https://gitlab.anvilar.com/api/v4/packages/npm/
//gitlab.anvilar.com/api/v4/packages/npm/:_authToken=GYEdzECj7JesBAzv8tks
//gitlab.anvilar.com/api/v4/projects/67/packages/npm/:_authToken=GYEdzECj7JesBAzv8tks
